* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid blue;
    background: url(/img/main.png); 
    background-position: center;
    background-size: cover; /* 이미지를 전체 화면으로 채움 */
}

.nav {
    border: 1px solid red;
    display: flex; /* 정렬하려는 요소의 부모 요소에 다음과 같이 display: flex 속성을 선언하면 됨. 속성이 적용된 요소는 flex container가 되고, flex container의 자식 요소는 flex item이 됨 */
    justify-content: flex-end; /* Flex Container 내의 Flex Item들을 주 축(main axis)을 따라 정렬하는 속성 중 하나 */
}

#userid {
    border: 1px solid purple;
    margin-top: auto;
}

.nav .nav_but button {
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: .5s ease;
}

.nav .nav_but button:hover { /* 마우스 클릭시 색상 변경 */
    background: white;
    color: black;
}

.header .title {
    text-align: center; /* 요소 중앙 배열 */
    margin-top: 1000px;
}

.header .title h1 {
    font-size: 40px;
    color: black;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
}

.header .title p {
    margin-top: 0;
    margin-bottom: 30px;
    color: black;
}