* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid red;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    border: 1px solid red;
    text-align: center;
    margin-bottom: 20px;
}

#signup-form {
    border: 1px solid blue;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    /* border: 2px solid green; */
    margin-bottom: 20px;
}

.input-group input { /* 이름, 아이디, 비밀번호 */
    width: 100%;
    padding: 10px;
    border: 1px solid red;
    border-radius: 4px;
}

.input-group select { /* 년 월 일 */
    width: 32.5%;
    padding: 10px;
    border: 1px solid red;
    border-radius: 4px;
}

.button {
    border: 1px solid red;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFE973;
    color: #fff; /* 글씨 색상 */
    /* border: none; */
    border-radius: 4px;
    cursor: pointer; /* 요소 위에 커서를 올렸을 때 커서 모양 변경 */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #fff;
    color: black;
}
