/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/img/yellow_back.png); 
    background-size: cover; /* 이미지를 전체 화면으로 채움 */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#date_text {
    font-size: 40px;
}

.date-selection {
    margin-bottom: 20px;
    text-align: center;
}

.date-selection input {
    width: 200px;
    height: 100px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.date-selection button {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #FFF;
}

.date-selection button:hover {
    background-color: #FFC107;
}

.voice-recognition {
    text-align: center;
}

.btn {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.btn button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.btn button img {
    width: 50px;  /* 버튼 이미지 크기를 줄입니다 */
    height: 50px; /* 버튼 이미지 크기를 줄입니다 */
}

.question {
    text-align: center;
    margin-top: 20px;
}

.question h2 {
    font-size: 24px;
    color: #333;
}
