/* * {
    box-sizing: border-box;
} */

.red {
    display: inline;

    border: 1px solid black;
    background-color: red;
    width: 100px;
}

.green {
    display: inline;
    /* position: absolute; */
    border: 1px solid black;

}